.best {
    background: url(../img/best/background-best.jpg) center center / cover no-repeat;
    display: flex;
    text-align: center;
    align-items: center;

}

.best__content {
    text-align: center;

    @include phones {
        text-align: left;
        display: block;
        width: 65%;
        padding-left: 3%; 
      }
}

.best__list {
    display: flex;
    align-items: center;

    @include phones {
        flex-direction: column;
        
      }
}

.best__item {
    margin-bottom: rem(50px);
    padding: 0 rem(15px);
    display: flex;
    flex-direction: column;
   
      
    @include phones {
    flex-direction: row;
    width: 100%;
    margin-bottom: rem(25px);
    }
}

.best__icon {
    margin-bottom: rem(30px);
    @include phones {
        margin-right: rem(20px);
        width: 30%;
      }
}

.best__icon-pic {
    width: 90%;
    height: rem(100px);
    svg {
    max-width: 95%;
    }
    @include phones {
        position: static;
        transform: none;
      }
}


.best__title {
    font-family: 'Lifehack-Medium';
    font-size: rem(24px);
    margin-bottom: rem(20px);
}

.best__text {
    font-weight: 300;
    font-size: rem(14px);

}